*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
/* navBar */
nav{
    display: flex;
    flex-direction: row;

    text-align: center;
}
.nav-item{
    width: 100vw;
    height: 10%;

    padding-top: 20px;
    padding-bottom: 10px;

    border-bottom: 3px solid #FFFFFF;
}
.nav-item:hover{
    color: #FFB71B;
    border-bottom: 3px solid #FFB71B;

    font-weight: bold;

    cursor: pointer;
}

/* navBar-changePoint */
.nav-item:nth-child(2){
    color: #FFB71B;

    font-weight: bold;
}

/* container */
#frame-img{
    width: 100vw;
}

.history-titleBox{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.history-titleBox > .box{
    display: flex;
    flex-direction: row;

    align-items: center;
}
.num{
    text-align: left;
}
.name{
    text-align: left;
    margin-right: 10px;
    padding-top: 5%;
    
    width: 72px;
    height: 42px;

    text-align: center;
    align-items: center;
}
hr{
    width: 100%;
    border: solid 0.5px #004E66;
}
#history-img{
    width: 300px;
}
#logo{
    width: 318px;

    margin-top: 131px;
}
#organization-img{
    width: 986px;
}