@font-face { font-family: 'NanumBarunGothic';
    src: url('/font/NanumBarunGothic.eot');
    src: url('/font/NanumBarunGothic.eot') format('embedded-opentype'),
    url('/font/NanumBarunGothic.woff') format('woff');}
*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    font-family: 'NanumBarunGothic', 'serif';
}
/* navBar */
nav{
    display: flex;
    flex-direction: row;

    text-align: center;
}
.nav-item{
    width: 100vw;
    height: 10%;

    padding-top: 20px;
    padding-bottom: 20px;

    border-bottom: 1.5px solid #FFFFFF;
}
.nav-item:hover{
    color: #FFB71B;
    border-bottom: 1.5px solid #FFB71B;

    font-weight: bold;

    cursor: pointer;
}

/* navBar-changePoint */
.nav-item:nth-child(3){
    color: #FFB71B;

    font-weight: bold;
}

/* container */
#frame-img{
    width: 100vw;
}

.history-titleBox{
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.history-titleBox > .box{
    display: flex;
    flex-direction: row;

    align-items: center;
}
.num{
    text-align: left;
    font-size: 2em;
    color:#004E66;

    margin-bottom: 20px;
}
.name{
    text-align: left;
    margin-right: 10px; 
    
    width: 3em;

    /* text-align: ; */
    display: flex;
    align-items: center;

    font-size: 2em;

    color: #383635;
}
#name-first{
    width: 2em;
}
#name-second{
    width: 3em;
}
hr{
    width: 100%;
    border: solid 0.5px #004E66;
}
#history-img{
    width: 300px;
}
#logo{
    width: 318px;

    margin-top: 131px;
}
#organization-img{
    width: 60%;
}