@font-face { font-family: 'NanumBarunGothic';
    src: url('/font/NanumBarunGothic.eot');
    src: url('/font/NanumBarunGothic.eot') format('embedded-opentype'),
    url('/font/NanumBarunGothic.woff') format('woff');}
*{
    margin: 0;
    padding: 0;
}

/* navBar */
nav{
    display: flex;
    flex-direction: row;

    text-align: center;
}
.nav-item{
    width: 100vw;
    height: 10%;

    padding-top: 20px;
    padding-bottom: 20px;

    border-bottom: 1.5px solid #FFFFFF;

}
.nav-item:hover{
    color: #FFB71B;
    border-bottom: 1.5px solid #FFB71B;

    font-weight: bold;

    cursor: pointer;
}

/* navBar-changePoint */
.nav-item:nth-child(4){
    color: #FFB71B;

    font-weight: bold;
}