@font-face { font-family: 'NanumBarunGothic';
    src: url('/font/NanumBarunGothic.eot');
    src: url('/font/NanumBarunGothic.eot') format('embedded-opentype'),
    url('/font/NanumBarunGothic.woff') format('woff');}
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    text-align: center;
    font-family: 'NanumBarunGothic', 'serif';
}
/* navBar */
nav{
    display: flex;
    flex-direction: row;

    text-align: center;
}
.nav-item{
    width: 100vw;
    height: 10%;

    padding-top: 20px;
    padding-bottom: 20px;

    border-bottom: 1.5px solid #FFFFFF;
}
.nav-item:hover{
    color: #FFB71B;
    border-bottom: 1.5px solid #FFB71B;

    font-weight: bold;

    cursor: pointer;
}

/* navBar-changePoint */
.nav-item:nth-child(5){
    color: #FFB71B;

    font-weight: bold;
}

/* navBar2 */
/* .container-title{
    font-size: 5em;
    margin-top: 70px;
} */
#nav2{
    margin-top: 100px;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-bottom: 60px;
}
.nav-item2{
    width: 100vw;
    height: 10%;

    padding-top: 10px;
    padding-bottom: 10px;

    margin-right: 10px;

    border-top: 1px solid rgb(204, 204, 204);
    opacity: 0.5;

    cursor: pointer;

    font-style: normal;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: -0.07em;

    /* 글자색 */

    color: #383635;

}
.nav-item2:hover{
    border-top: 1px solid #004E66;
    color: #004E66;
    
    
}
/* .nav-item2:nth-child(6){
    border-right: 1px solid black;
} */

/* hr */
hr{
    width: 100vw;
    border: solid 0.5px #004E66;

    margin-top: 72px;

    opacity: 0.1;
}

/* nav2-content */
#container img{
    margin-right: 16px;
    margin-left: 16px;
}

.nav2-title{
    padding-top: 40px;
    margin-bottom: 24px;

    font-weight: 600;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: -0.07em;
}
.nav2-intro{
    margin-bottom: 60px;

    font-style: normal;
    font-weight: lighter;
    font-size: 15px;
    line-height: 34px;
    letter-spacing: -0.07em;

/* 글자색 */

color: #383635;

}
#pre-ipo img{
    width: 500px;
    height: 500px;
}
#public-offering img{
    width: 500px;
    height: 500px;
}

#real-estate img{
    width: 230px;
    height: 230px;
    margin-bottom: 8px;
}

.real-estate-box{
    display: flex;
    flex-direction: row;

    justify-content: center;
    /* align-items: center; */
}

.domestic{
    border-right: 1px solid #004E66;
    padding-left: 8px;
    padding-right: 8px;
}
.overseas{
    padding-left: 8px;
    padding-right: 8px;
}
.kind ,.kind-info{
    margin-left: 16px;
    margin-bottom: 16px;

    text-align: left;
}

.kind{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: -0.07em;

    color: #383635;
}

.kind-info{
    font-style: normal;
    font-weight: 300;
    /* font-size: 30px; */
    line-height: 34px;
    letter-spacing: -0.07em;

    color: #383635;
}

#NPL img{
    width: 320px;
    height: 320px;
}

#MandA img{
    width: 500px;
    height: 500px;
}

#structuralization img{
    width: 500px;
    height: 500px;
}

